@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@black: #0F0F0F;
@blue: #009EEF;

.subtle-shadow {
  box-shadow: 0px 0px 2px rgb(236, 236, 236);
}

@gray-1: rgb(223, 223, 223);
@gray-3: rgb(197, 197, 197);
@gray-4: rgb(158, 158, 158);

@size-5: 1.5em;
@size-8: 1.8em;

body {
  margin: 0;
  padding: 0 10px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 100%;
  color: rgb(136, 136, 136);
  -webkit-font-smoothing: antialiased;
}

header {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: 50px;
  box-shadow: 1px 0 2px #999;
  background-color: #FFF;
}

footer {
}

.header-fill {
  height: 50px
}

.search-bar {
  display: table;
  float: right;
}

.search-bar input {
  display: table-cell;
  height: 50px;
  width: 324px;
  padding: 0 20px;
  border: 1px solid #888;
  background: 0;
  font-size: 1.4em;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: top;
}

.search-bar button {
  display: table-cell;
  height: 50px;
  width: 150px;
  line-height: 0px;
  background: 0;
  border: 1px solid #888;
  overflow: hidden;
  background-color: #888;
  color: #FFF;
  font-size: 0.85em;
}

.welcome {
  display: inline-block;
  float: right;
  padding: 20px;
  text-align: center;
}

a {
  cursor: pointer;
  color: rgb(0, 158, 255);
  text-decoration: underline;
}

h2 {
  display: inline-block;
}
.general-inner {
  max-width: 1024px;
  margin: 45px auto 0 auto;
}

.logo-text {
  color: @gray-1;
  font-size: @size-5;
  display: inline-block;
  padding-left: 15px;
  position: relative;
  top: -15px;
}
.logo {
  display: inline-block;
  opacity: .2;
  height: 65px;
  line-height: 50px;
  margin-left: 20px;
  overflow: hidden;
  color: @blue;
}

.sign-in {
  position: absolute;
  right: 15px; top: 15px;
}

.left-col {
  position: absolute;
}
.right-col {
  margin-left: 400px;
}

.username {
  font-size: @size-8;
}

.song-loading {
  position: absolute;
}


.index-header {
  padding: 20px 0;
  vertical-align: top;
}

.index-header h2 {
  margin: 0;
  line-height: 50px;
}
@import 'style/recommend';
@import 'style/playlist';
