body {
    font-family: arial, sans-serif;
    color: rgb(110, 110, 110);
}

.welcome {
    padding: 20px;
    text-align: center;
}

a {
    cursor: pointer;
    color: rgb(0, 158, 255);
    text-decoration: underline;
}