<div>

  <div ng-if="ctrl.loading">loading data for <b>@{{ctrl.handle}}</b>...</div>

  <div ng-if="!ctrl.loading">

    <div class="left-col">
      <div class="username"><b>{{ctrl.twitterUser.name}}</b></div>
      <div>
        <a ng-href="{{'http://twitter.com/' + ctrl.twitterUser.handle}}">@{{ctrl.twitterUser.handle}}</a>
      </div>
      <br />
      <img ng-src="{{ctrl.twitterUser.image_url}}" style="width:300px;" />
    </div>

    <div class="right-col">

      <br />
      <div ng-if="ctrl.PlaylistMaker.loading" class="song-loading">Loading Songs <b>{{ctrl.PlaylistMaker.loadedComplete}}/{{ctrl.PlaylistMaker.loadedTotal}}</b></div>

      <br />
      <div class="playlist">
        <div ng-repeat="s in ctrl.PlaylistMaker.songs" ng-click="ctrl.Rdio.play(s.key)" class="list-item">
          <img ng-src="{{s.icon400}}" />
          <div class="info">
            <div class="title">{{s.name}}</div>
            <div class="artist">{{s.artist}}</div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>