<div>

  <div ng-if="ctrl.loading">loading data for <b>@{{ctrl.handle}}</b>...</div>

  <div ng-if="!ctrl.loading">
    <img ng-src="{{ctrl.twitterUser.image_url}}" style="width:300px;" />
    <div><b>{{ctrl.twitterUser.name}}</b></div>
    <div>
      <a ng-href="{{'http://twitter.com/' + ctrl.twitterUser.handle}}">@{{ctrl.twitterUser.handle}}</a>
    </div>

    <br />
    <div ng-if="ctrl.PlaylistMaker.loading">LOADING SONGS <b>{{ctrl.PlaylistMaker.percentLoaded}}%</b></div>

    <br />
    <div ng-repeat="s in ctrl.PlaylistMaker.songs">
      <b>{{s.name}}</b> by <b>{{s.artist}}</b> <a ng-click="ctrl.Rdio.play(s.key)">PLAY</a>
    </div>

  </div>

</div>