<div>

  <div class="index-header">
    <h2>Search ::::::::::::::::::::::::::::::::::::::::</h2>

    <div class="search-bar">
      <input type="text" ng-model="searchText" ng-enter="ctrl.search()" />
      <button type="submit" ng-click="ctrl.search()">find twitter user</button>
    </div>
  </div>

  <a ng-repeat="usr in ctrl.twitterUsers" ng-href="{{'/' + usr.handle}}" class="recommend-user">
    <img ng-src="{{usr.image_url}}" />
    <div class="recommend-user-name">
      <div class="screen-name">{{usr.name}}</div>
      <div class="handle">@{{usr.handle}}</div>
    </div>
  </a>

</div>
